@font-face {
    font-family: "Orbitron";
    src: url(./fonts\/Orbitron-VariableFont_wght.ttf);
}

:root {
    --homeColor: #97F5BB;
    --awayColor: #525DF4;
    --scoreColor: #FDF860;
    --dark: #2C2C2C;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    color: #fff;
}

body {
    background-color: var(--dark);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80%;
    width: 70%;
    margin: 0 auto;

    .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .btns {
            display: flex;
            gap: 1rem;

            button {
                height: 90px;
                width: 90px;
                font-size: 3rem;
                border-radius: 20px;
                color: #fff;
            }
        }

        &.home-col {
            button {
                background-color: var(--homeColor);
            }
        }

        &.away-col {
            button {
                background-color: var(--awayColor);
            }
        }
    }
}

.points-outer {
    height: 350px;
    width: 350px;
    border-radius: 3rem;
    font-family: "Orbitron", sans-serif;
    position: relative;
    text-align: center;
    margin-bottom: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &.home-outer {
        border: 4px solid var(--homeColor);
    }
    &.away-outer {
        border: 4px solid var(--awayColor);
    }

    .score {
        font-size: 13rem;
        color: var(--scoreColor);
        background-color: #000;
        border-radius: 20px;
        height: 300px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 2.5rem;
    }
    
    h2 {
        display: inline-block;
        font-size: 2.6rem;
        position: absolute;
        bottom: -1.5rem;
        left: 36%;
        font-weight: normal;
        background-color: var(--dark);
        padding: 0 1rem;
    }
}

button {
    border: none;
    cursor: pointer;
}
#reset-btn {
    background-color: #fff;
    border-radius: 10px;
    color: var(--dark);
    height: 40px;
    width: 120px;
}